@model ProductUpdateModel



<form asp-action="Update" asp-controller="Home" asp-area="Admin" method="post" enctype="multipart/form-data" class="w-75 mx-auto p-3">

    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label>Product Name:</label>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Product Price:</label>
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
        <input asp-for="@Model.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label>Product Picture:</label>
        <input type="file" asp-for="@Model.Picture" class="form-control-file" />
    </div>
    <div class="form-group">
        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class=" btn btn-warning">Go Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@section JavaScripts{
    <script src="~/jqueryValid/jquery.validate.min.js"></script>
    <script src="~/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}


